.app-en,
.app-ja {
    font-family: "FOT-RodinNTLGPro-DB", sans-serif;
    h1,
    h2,
    h3 {
        font-family: "FOT-RodinNTLGPro-EB";
        font-weight: normal;
    }

    p,
    button,
    select,
    label {
        font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        font-weight: normal;
    }

    h1 {
        line-height: 3rem;
    }
    h2,
    h3 {
        line-height: 2.25rem;
    }
    p,
    label,
    li {
        line-height: 1.5rem;
    }

    button,
    select {
        font-family: "FOT-RodinNTLGPro-EB", sans-serif;
        p {
            font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        }
    }

    #sidebar {
        h3,
        p {
            font-family: "FOT-RodinNTLGPro-DB", sans-serif;
        }
    }
    #flavor-text {
        font-family: "FOT-RodinNTLGPro-M", sans-serif;
    }
}

.app-es,
.app-fr,
.app-fil,
.app-ms,
.app-pl {
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
    button,
    select {
        font-family: "Noto Sans JP", "Noto Sans", sans-serif;
    }
}

.app-th {
    font-family: "Noto Sans Thai", sans-serif;
    button,
    select {
        font-family: "Noto Sans Thai", sans-serif;
    }
}

.app-zh {
    font-family: "Noto Sans SC", sans-serif;
    button,
    select {
        font-family: "Noto Sans SC", sans-serif;
    }
}

.app-zhTW {
    font-family: "Noto Sans TC", sans-serif;
    button,
    select {
        font-family: "Noto Sans TC", sans-serif;
    }
}

.app-zhHK {
    font-family: "Noto Sans HK", sans-serif;
    button,
    select {
        font-family: "Noto Sans HK", sans-serif;
    }
}

[class^="app-"]:not(.app-en):not(.app-ja) {
    button,
    select {
        font-family: "Noto Sans JP", "Noto Sans", sans-serif;
        font-weight: 800;
        p {
            font-weight: 400;
        }
    }
    button.btn-circle {
        font-family: "Noto Sans", sans-serif;
    }
}
