#content {
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    @media (width > 768px) {
        height: 100dvh;
    }
    @media (width <= 768px) {
        height: 500px;
    }
}

#content-background,
#split-background-1,
#split-background-2 {
    position: absolute;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100dvh;
}

#split-background-2 {
    right: 0;
    width: 50%;
    background-position: 100%;
}

#flavor-text {
    position: absolute;
    bottom: 0;
    padding: inherit;
    color: $white;
    animation: fade-out 10s ease-in-out forwards;
    text-align: center;
    max-width: 70%;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
